*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
}

.wrapper{
    max-width: 1000px;
    margin: 30px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 248.8px 248.8px 248.8px;
}

.box{
    border: 1px solid;
}

.wrapper .box img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper #box1{
    grid-row: span 2;
}

.wrapper #box3,#box6{
    grid-row: span 2;
}