*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: white;
}

.wrapper{
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.display-box{
    /* border: 1px solid black; */
    font-size: 50px;
    width: 130px;
    text-align: center;
    background-color: white;
    color: black;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn{
    border: none;
    font-size: 40px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: white;
    width: 90px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

button:hover {
  background-color: #007BFF;
  color: white;
}

