* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* border: 5px solid red; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFD93D;
    transition: background-color 0.3s ease;
}

.container {
    /* border: 2px solid; */
    text-align: center;
}

#emoji {
    font-size: 100px;
    margin-bottom: 20px;
    transition: transform 0.2s ease;
}


.buttons button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.2s ease, background-color 0.3s;
}

.buttons button:hover {
    transform: scale(1.1);
}
